<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Cadastrar Novo Setor</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-vue.css">
<link rel="stylesheet" type="text/css" href="../resources/css/index.css">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav">
			<a class="nav-item nav-link" href="listar-setor.html">Voltar</a>
		  </div>
		</div>
	</nav>

	  <main class="container-fluid p-2">
		<div id="cadastro-setor">

			<!-- 
				Início Componente modal
			-->
			<div class="modal-container" v-if="showModal">
				<div id="fade"></div>
				<div id="modal">
					<div class="modal-header">
						<h2>{{ modalTitle }}</h2>
						<button class="btn btn-primary" @click="closeModal()" >Fechar</button>
					</div>
					<div class="modal-body">
						<p>{{ msgModal }}</p>
					</div>
				</div>
			</div>
			<!-- 
				Final Componente modal
			-->

			<div class="container" v-if="conteudoCarregado">
				<h4>Cadastro de Setor</h4>
					
				<form class="setor-form" @submit="cadastrarSetor">
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="inputNome">Nome</label>
							<input type="text" class="form-control" class="inputNome" placeholder="Nome" v-model="setor.nome">
						</div>
					</div>
					<button class="btn btn-success btn-lg float-right"
								type="submit">
							Cadastrar
					</button>
					
				</form>	
			</div>
			<div class="d-flex justify-content-center" v-else>
				<h1>Carregando...</h1>
			</div>
		</div>
	</main>

	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-setor.js"></script>
</body>
</html>