<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-vue.css">
<link rel="stylesheet" type="text/css" href="resources/css/index.css">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="index.html">Home</a>
	  </nav>
	
	<div id="inicio" class="container-fluid">

		<!-- 
			Início Componente modal
		 -->
		 <div class="table" v-if="lista.length > 0">
			<div class="modal-container" v-if="showModal">
				<div id="fade"></div>
				<div id="modal">
					<div class="modal-header">
						<h2>{{ modalTitle }}</h2>
						<button class="btn btn-primary" @click="closeModal()" >Fechar</button>
					</div>
					<div class="modal-body">
						<p>{{ msgModal }}</p>
					</div>
				</div>
			</div>
			<!-- 
				Final Componente modal
			-->

			<h4>Lista dos Funcionários</h4>
			<a class="btn btn-primary fg-black" @click="redirectToCreate()">Cadastrar</a>
			<table class="table">
			<tr>
				<th>Nome</th> 
				<th>Setor</th>
				<th>Salário</th>
				<th>Email</th>
				<th>Idade</th>
				<th></th>
				<th></th>
			</tr>
			<tbody id="event-table" >
				<tr v-for="funcionario in lista" v-bind:key="funcionario.id_funcionario">
				<td>{{ funcionario.nome }}</td> 
				<td>{{ funcionario.setor.nome }}</td> 
				<td>{{ funcionario.salario }}</td> 
				<td>{{ funcionario.email }}</td> 
				<td>{{ funcionario.idade }}</td>
				<td><span class="btn btn-success" @click="redirectToUpdate(funcionario)">Editar</span></td>
				<td><span class="btn btn-danger"  @click="redirectToDelete(funcionario)">Excluir</span></td>
				</tr>
			</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-center" v-else>
		  <h1>Carregando...</h1>
		</div>
	</div>

	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>