*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

nav{
    display: flex;
    flex-direction: row;
    padding: .5rem;
    background: #347deb;
    margin-bottom: 2rem;
}

nav a{
    color: #fff;
    font-size: 1.4rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app{
    align-items: center;
    width: 80%;
}